extends layout

block content
  input(type="text", id="enter-equation", placeholder="(x, y) => [-y, x]")
  input(type="number", id="enter-width", placeholder="Enter width of displayed window")
  canvas(width="100%", height="100%", id="vector-canvas")
append userScripts
  script(src="./js/app/index/app.js")
  script(src="./js/app/index/main.js")
